{%extends "LoginLoginBundle:Default:index.html.twig"%}
{%block container %}
<form class="form-horizontal" method="POST" action="{{path('login_login_homepage')}}">
	<div class="control-group">
		<label class="control-label" for="inputEmail">username</label>
		<div class="controls">
			<input type="text" name="username" id="inputEmail" placeholder="Email">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="inputPassword">Password</label>
		<div class="controls">
			<input type="password" name="password" id="inputPassword" placeholder="Password">
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<label class="checkbox">
				<input type="checkbox"> Remember me
			</label>
			<button type="submit" class="btn">Sign in</button>
			<a href="{{path('login_login_signup')}}">Sign Up</a>
		</div>
	</div>
</form>
{% if name is defined%}
<div class="alert-info fade">
	<strong>Hello {{name}}</strong>
</div>
{% endif %}
{%endblock%}