{%extends "LoginLoginBundle:Default:index.html.twig"%}
{%block container %}
<form class="form-horizontal" method="POST" action="{{path('login_login_signup')}}">
	<div class="control-group">
		<label class="control-label" for="inputEmail">username</label>
		<div class="controls">
			<input type="text" name="username" id="inputEmail" placeholder="Email">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="inputEmail">firstname</label>
		<div class="controls">
			<input type="text" name="firstname" id="inputEmail" placeholder="Email">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="inputPassword">Password</label>
		<div class="controls">
			<input type="text" name="password" id="inputPassword" placeholder="Password">
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn">Sign up</button>
		</div>
	</div>
</form>
{%endblock%}